<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>入职欢迎邮件</title>
</head>
<body>
欢迎<span th:text="${nickname}"></span>加入java达摩院大家庭，您的入职信息如下：
<table border="1">
    <tr>
        <td>姓名</td>
        <td th:text="${nickname}"></td>
    </tr>

    <tr>
        <td>职位</td>
        <td th:text="${positionname}"></td>
    </tr>

    <tr>
        <td>职称</td>
        <td th:text="${joblevelname}"></td>
    </tr>

    <tr>
        <td>部门</td>
        <td th:text="${departmentname}"></td>
    </tr>

</table>

<p>希望在未来的日子里携手共进</p>
</body>
</html>